<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf 8">
	<title>Consultar Eventos</title>
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	<a class="navbar-brand" href="#"></a>
	<!-- Navbar links-->
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link"
				th:href="@{/}">Volver</a></li>
		</ul>
	</div>
	</nav>
	
	<div class="container">
		<div class="row">
			<h1>Listado de Eventos</h1>
		</div>
	
	<form  th:action="@{/consultar_evento}" th:object="${listado_evento}" method="post">
	</table>
	<br>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
					<th>Fecha</th>
					<th>Descripcion</th>
					<th>Ciudad</th>
			</tr>
		</thead>
			<tbody>
				<tr th:each="evento : ${listado_evento}">
					<td th:text="${evento.getFechaevento()}"</td>
					<td th:text="${evento.getdsc_evento}"</td>
					<td th:text="${evento.getId_ciudad().getNombre_ciudad()}"</td>
					
					<td>
						<a th:href="@{/consultar_evento/editar/{id}(id=${evento.getId_evento()})}" class="btn btn-info">Editar</a>
						<a th:href="@{/consultar_evento/{id}(id=${evento.getId_evento()})}" class="btn btn-danger">Eliminar</a>
					</td>
				
				</tr>
			</tbody>
		</table>
	</div>

</body>

</html>