<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf 8">
	<title>Servicio Meteorologico Nacional</title>
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
   <h1 class="display-4 font-weight-normal">Bienvenidos al Servicio Meteorologico Nacional</h1>
   <h5>Elija una opcion</h5>
   <nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link"
				th:href="@{/clima/nuevo}">Registrar Clima</a></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/consultar_clima}">Consultar Clima</a></li>
				<!-- 
			<li class="nav-item"><a class="nav-link"
				th:href="@{/pronostico/nuevo}">Registrar Pronostico</a></li>
			<li class="nav-item"><a class="nav-link"	
				th:href="@{/consultar_pronostico}">Consultar Pronostico</a></li>
				-->
			<li class="nav-item"><a class="nav-link"
    			th:href="@{/evento/nuevo}">Registar Evento</a></li>
    		<li class="nav-item"><a class="nav-link"	
				th:href="@{/consultar_evento}">Consultar Evento</a></li>
    	<!-- 
    		<li class="nav-item"><a class="nav-link"
				th:href="@{/alertas}">Alertas</a></li>	
		-->
			<li class="nav-item"><a class="nav-link"
   				th:href="@{/pronostico_ciudad}">Consultar Pronostico Extendido</a></li>
    		<li class="nav-item"><a class="nav-link"
   				th:href="@{/ciudades}">ABM Ciudades</a></li>
   			<li class="nav-item"><a class="nav-link"
 				th:href="@{/provincias}">ABM Provincias</a></li>
		</ul>
	</nav>
</div>

</body>
</html>